[Desktop Entry]
Name=Dashr
Comment=Dashr Client Application
Exec=dashr
Icon=$INSTALL_DIR/client/icons/current.png
Terminal=false
Type=Application
Categories=Game;
